@font-face {
  font-family: latoFont;
  src: url(./Lato-Light.ttf);
}

@font-face {
  font-family: latoFontRegular;
  src: url(./Lato-Regular.ttf);
} 


* {
  box-sizing: border-box;
  font-family: latoFont;
}

strong {
  font-family: latoFontRegular;
}
body {
  margin: 0;
  background-color: rgba(229, 229, 229, 0.493);
}

#header {
  padding: 20px;
  background-color: #ffe069;
}

.container-main {
  margin-top: 30px;
}

.event-image-div > img {
  width: 100%;
  max-height: 500px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.event-image-container {
  flex: 0.6;
  padding-left: 50px;
}

.container-main {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.joined-list {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.joined-list-images > img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center;
  transition: all 0.2s ease;
  position: absolute;
}

.joined-list-number {
  font-size: 20px;
  font-weight: 300;

  color: #171616;
}

.footer-container {
  margin-top: 100px;
  margin-bottom: 60px;
}

.footer-container > p {
  font-size: 18px;
  font-weight: 300;
}

.download-heading {
  text-align: center;
  padding: 10px;
}

.download-button > img {
  height: 70px;
}

.download-button {
  text-align: center;
  padding: 20px;
}
.playstore-img {
  height: 60px !important;
  margin-bottom: 4px;
}

.host-person-images {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center;
  transition: all 0.2s ease;
  position: absolute;
}

.image-profile-div {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.event-info-container {
  padding-left: 30px;
  padding-right: 20px;
  flex: 0.4;
}

.event-host-div {
  display: flex;
  align-items: center;
}
.event-host-div > p {
  font-size: 22px;
  margin-left: 20px;
  font-family: latoFontRegular;
}

.heart-div > img {
  width: 30px;
  height: 30px;
}

.event-host-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heart-div p {
  font-size: 14px;
  font-weight: 300;
}

.heart-div {
  display: flex;
  flex: 0.2;
  justify-content: space-evenly;
  align-items: center;
}

.event-info-table {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

.event-detail-div {
  display: flex;
  align-items: center;
  flex: 1;
}

.event-detail-div img {
  width: 15px;
}

.event-detail-div p {
  font-weight: 300;
}

.event-detail-image {
  flex: 0.1;
  text-align: center;
}

.event-detail-p {
  border-bottom: 1px solid #dadada;
  margin-right: 40px;
}

.event-detail-p-div {
  flex: 0.9;
}

.event-detail-div:last-child > .event-detail-p-div > .event-detail-p {
  border-bottom: none;
}

.mobile {
  display: none;
}

.joined-list-images {
  margin-bottom: 60px;
}

.event-deatil-img {
  width: 250px !important;
  border-radius: 10px;
}

.padding-20 {
  padding: 20px;
}

.event-heading {
  font-size: 20px !important;
}

.space-betwwen {
  justify-content: space-between;
}

.event-page-p-div {
  flex: 0.6;
}

#map-mark {
  height: 15px;
  width: 12px;
}

.event-expired-div {
  background-color: #ef4038;
  border-radius: 15px;
  font-size: 18px;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 15px;
}
@media screen and (max-width: 768px) {
  .container-main {
    flex-direction: column;
  }
  .space-betwwen {
    flex-direction: column !important;
  }

  .event-image-container {
    padding-left: 0px;
  }
  .event-image-div > img {
    border-radius: 0px;
  }
  .event-info-container {
    padding-left: 20px;
  }
  .mobile {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
  }

  .desktop {
    display: none;
  }
  .event-host-container {
    margin-top: 20px;
  }
  .joined-list-images > img {
    width: 50px;
    height: 50px;
  }
}
